name: Docker Image Cascade

on: [push]

jobs:
  runci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup pytest
      run: |
        sudo apt-get install -y python3-setuptools
        pip3 install -U pytest-pythonpath==0.7.1 pytest-cov==2.5.1

    - name: Check Docker Images
      run: pytest -m dockerfiles
