name: Docker Image Cascade

on: [push]

jobs:
  runci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Check Latest Docker Image
      run: |
        ls
        bash scripts/dockerBuild.sh
