name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |
        dockerfile=`find */*/*ocker*ile -maxdepth 0 -type f -printf "%T@ %Tc %p\n" | sort -n | rev | cut -f1 -d ' ' | cut -f1,2,3 -d '/' | rev | tail -n1`;
        dockerfile=`readlink -e ${dockerfile}`;
        bash scripts/update.sh -f "${dockerfile}" -m "Updated image";
