name: Docker Image Cascade

on: [push]

jobs:
  runci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Check Latest Docker Image
      env:
        DOCKERHUB_PW: ${{secrets.BICF_DOCKERHUB_PW}}
        DOCKERHUB_UN: ${{secrets.BICF_DOCKERHUB_UN}}
        DOCKERHUB_ORG: ${{secrets.DOCKERHUB_ORG}}
      run: |
        source scripts/functions.sh
        export GITHUB_REF=`git rev-parse --abbrev-ref HEAD`
        #Check to see if more than one Dockerfile has been updated, and if so, error out.
        counter=0
        for i in `changed_paths_in_range \`get_compare_range | tr -d '/'\``; do
          if [ `echo ${i} | grep -I 'Dockerfile' | wc -l` -gt 0 ]; then
            counter=$((counter + 1))
          fi
        done
        if [ "${counter}" -gt "1" ]; then
            echo "ERROR: More than one Dockerfile commited!  Can only update one Dockerfile at a time"
        else
            echo "Found single Dockerfile for update."
            dockerFile=`find */*/*ocker*ile -maxdepth 0 -printf "%T@ %Tc %p\n" | sort -n | rev | cut -f1 -d ' ' | cut -f1,2,3 -d '/' | rev | tail -n1`
            testFile="`echo ${dockerFile} | cut -f1,2 -d '/'`/unittest.yml";
            dockerImage="bicf/`echo ${dockerFile} | cut -f1,2 -d '/' | tr -s '/' ':'`";
            docker build -t ${dockerImage} -f ${dockerFile} --rm --no-cache .
            python3 tests/imagecheck.py "bicf" ${testFile}
        fi;
