name: Standard Workflow CI

on: [push]

jobs:
  check_and_build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          BUILD: ${{ false }}
          PATHS: ""
          DOCKER_FILE: ""
          DEPLOY_BRANCH: ${{secrets.DEPLOY_BRANCH}}
          DOCKERHUB_ORG: ${{secrets.DOCKERHUB_ORG}}
          DOCKER_PASSWORD: ${{secrets.BICF_DOCKERHUB_PW}}
          DOCKER_USERNAME: ${{secrets.BICF_DOCKERHUB_UN}}
          LC_ALL: C.UTF-8
          LANG: C.UTF-8
      - name: Check Build
        id: checkBuild
        run: |
          set -e
          source scripts/functions.sh
          git config user.name github-actions
          git config user.email github-actions@github.com
          fetch_develop
          #Check to see if more than one Dockerfile has been updated, and if so, error out.
          compare_range=$(get_compare_range)
          paths=$(changed_paths_in_range "${compare_range}")
          print_changed "${compare_range}" "${paths}"
          docker_counter=$(print_changed "${compare_range}" "${paths}" | grep -i "/dockerfile$" | wc -l)
          if [ "${docker_counter}" -gt "1" ]; then
            echo -e "ERROR: Currently we only support uploading one Dockerfile at a time, please break these into separate branches."
            exit 1
          elif [ "${docker_counter}" -eq "1" ]; then
            echo "New or updated Dockerfile found, building image and running CI"
            echo "::set-env name=PATHS::$(echo ${paths})"
            #Check to see if the proposed version already exists in master
            git show origin/master:relations.yaml > master_relation.yml
            docker_file=$(print_changed "${compare_range}" "${paths}" | grep -i "/dockerfile$")
            echo "::set-env name=DOCKER_FILE::$(echo ${docker_file})"
            python3 scripts/check_pre_exist.py master_relation.yml ${docker_file}
            rm master_relation.yml
            echo "::set-env name=BUILD::${{ true }})"
          else
            echo "No new images found, running CI only."
            echo "::set-output name=build::${{ false }}"
          fi

      - name: Build Image
        id: build_image
        if: ${BUILD} == 'true'
        run: |
          set -e
          source scripts/functions.sh
          echo "New or updated Dockerfile found, building image and running CI"
          echo ${PATHS}
          build_images "${DOCKERHUB_ORG}" "${PATHS}"

      - name: Test Image
        id: testImage
        if: ${BUILD} == 'true'
        run: |
          python3 tests/imagecheck.py "${DOCKERHUB_ORG}" ${PATHS}

      - name: Update relations.yaml
        id: updateYaml
        if: ${BUILD} == 'true'
        run: |
          set -e
          source scripts/functions.sh
          git show ${DEPLOY_BRANCH}:relations.yaml > relations.yaml
          python3 scripts/relational.py ${DOCKER_FILE}
          image_name=$(echo ${DOCKER_FILE} | rev | cut -f3 -d '/' | rev)
          image_version=$(echo ${DOCKER_FILE} | rev | cut -f2 -d '/' | rev)
          docker_image=$(echo -e "${image_name}:${image_version}")
          echo "::set-env name=DOCKER_IMAGE::$(echo ${DOCKERHUB_ORG}/${docker_image})"

      - name: Commit New Relations
        id: commitNewRelations
        if: ${BUILD} == 'true'
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add relations.yaml
          git commit --allow-empty -m "Updated relations.yaml"

      - name: Push New Relations
        id: pushNewRelations
        if: ${BUILD} == 'true'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          branch: "${{ github.ref }}"

      - name: DockerHub_Login
        id: dockerHubLogin
        if: ${BUILD} == 'true'
        uses: actions-hub/docker/login@master

      - name: Push_to_DockerHub
        id: pushToDockerHub
        if: ${BUILD} == 'true'
        uses: actions-hub/docker@master
        with:
          args: push ${DOCKER_IMAGE}

      - name: CI Only
        id: runAllCI
        if: ${BUILD} == 'false'
        run: |
          echo ${test}
          python3 tests/ci_latest_paths.py "${DOCKERHUB_ORG}" relations.yaml
