name: Docker Image Cascade

on: [push]

jobs:
  runci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Check Latest Docker Image
      env:
        DOCKERHUB_PW: ${{secrets.BICF_DOCKERHUB_PW}}
        DOCKERHUB_UN: ${{secrets.BICF_DOCKERHUB_UN}}
        DOCKERHUB_ORG: bicf
        DEPLOY_BRANCH: ${{secrets.DEPLOY_BRANCH}}
      run: |
        set -e
        source scripts/functions.sh
        fetch_master
        #Check to see if more than one Dockerfile has been updated, and if so, error out.
        compare_range=$(get_compare_range)
        paths=$(changed_paths_in_range "$compare_range")
        print_changed "$compare_range" "$paths"
        docker_counter=`print_changed "$compare_range" "$paths" | grep -i "dockerfile" | wc -l`
        if [ "${docker_counter}" -gt "1" ]; then
          echo -e "ERROR: Currently we only support uploading one Dockerfile at a time, please break these into separate issues."
          exit 1
        elif [ "${docker_counter}" -eq "1" ]; then
          echo "New or updated Dockerfile found, building image and running CI"
          build_images "$DOCKERHUB_ORG" "$paths"
          python3 scripts/relations.py `docker_counter=`print_changed "$compare_range" "$paths" | grep -i "dockerfile"`
        else
          echo "No new images found, running CI only."
        fi
        python3 tests/imagecheck.py "$DOCKERHUB_ORG" $paths
