name: Docker Image Cascade

on: [push]

jobs:
  runci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Check Latest Docker Image
      env:
        DOCKERHUB_PW: ${{secrets.BICF_DOCKERHUB_PW}}
        DOCKERHUB_UN: ${{secrets.BICF_DOCKERHUB_UN}}
        DOCKERHUB_ORG: ${{secrets.DOCKERHUB_ORG}}
      run: |
        set -e
        source scripts/functions.sh
        fetch_master
        #Check to see if more than one Dockerfile has been updated, and if so, error out.
        compare_range=$(get_compare_range)
        paths=$(changed_paths_in_range "$compare_range")
        print_changed "$compare_range" "$paths"
        build_images "$DOCKERHUB_ORG" "$paths"
        python3 tests/imagecheck.py "$DOCKERHUB_ORG" $paths
